.business-insurance-flow .form-control,
.business-insurance-flow .f-dropdown > span {
  height: 52px;
  font-size: 16px;
}
.business-insurance-flow .btn {
  font-size: 16px !important;
}
.business-insurance-flow .content h3.title {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
.business-insurance-flow .data-center {
  width: 0;
}
.business-insurance-flow .properties-count-field {
  width: 208px;
}
.business-insurance-flow .notice-box {
  border: 1px solid var(--color-border-light);
  background-color: #f1f8fe;
  padding: 12px;
  border-radius: 4px;
}
.business-insurance-flow .notice-box .notice-header {
  padding-bottom: 4px;
  display: flex;
  align-items: center;
}
.business-insurance-flow .notice-box .notice-header img {
  margin-bottom: 1px;
}
.business-insurance-flow .notice-box .notice-header span {
  margin-left: 4px;
  font-size: 14px;
  line-height: 22px;
  color: #2b2b2b;
}
.business-insurance-flow .notice-box .notice-body {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-light-gray);
  margin-bottom: 10px;
}
.business-insurance-flow .notice-box .notice-footer img {
  margin-bottom: 1px;
}
.business-insurance-flow .notice-box .notice-footer span {
  margin-left: 4px;
  font-size: 12px;
  line-height: 16px;
  color: #2b2b2b;
}
.business-insurance-flow .white-box-container {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--color-white);
  border: 1px solid var(--color-border-light);
}
.business-insurance-flow .white-box-container .input-group input.ms-2 {
  margin-left: 8px !important;
}
.business-insurance-flow .business-cards.job-type-cards .business-card .checkbox-label {
  font-size: 14px !important;
}
.business-insurance-flow .business-cards .business-card {
  width: auto;
  position: relative;
  margin-right: 16px;
}
.business-insurance-flow .business-cards .business-card:last-child {
  margin-right: 0;
}
.business-insurance-flow .business-cards .business-card .checkbox-custom {
  display: none;
}
.business-insurance-flow .business-cards .business-card .checkbox-label {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  margin-left: 0;
  font-size: 14px;
}
.business-insurance-flow .business-cards .business-card .checkbox-label img {
  border-radius: 4px;
  margin-bottom: 10px;
}
.business-insurance-flow .business-cards .business-card input:checked ~ .checkbox-custom {
  display: block;
  position: absolute;
  top: 14px;
  left: 14px;
}
.business-insurance-flow .business-cards .business-card input:checked ~ .checkbox-label {
  border: 2px solid #016bbf;
  background: #ebf5fd;
}
.business-insurance-flow .radio-label.fs-14 {
  font-size: 14px !important;
}
.business-insurance-flow .tooltip-card {
  position: relative;
}
.business-insurance-flow .tooltip-card img {
  margin: 0 !important;
}
.business-insurance-flow .tooltip-card .tooltip-content {
  display: none;
  background-color: var(--color-blue-bg-light);
  color: var(--color-title);
  border: 1px solid var(--color-border-light);
  padding: 6px 10px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: calc(100% + 10px);
  z-index: 100000;
  min-width: 196px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
}
.business-insurance-flow .tooltip-card .tooltip-content:after {
  content: "";
  position: absolute;
  right: calc(100% - 5px);
  top: 5px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: #f1f8fe;
  display: block;
  border: solid #ddd;
  border-width: 0 0 1px 1px;
  border-bottom-left-radius: 4px;
}
.business-insurance-flow .tooltip-card:hover .tooltip-content {
  display: block;
}
.business-insurance-flow .accordion.custom .accordion-button.hide-arrow:after {
  opacity: 0;
}
.business-insurance-flow .accordion.custom .accordion-button:not(.collapsed):after {
  opacity: 1;
}
.business-insurance-flow .claim-section.auto-ratio {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}
.business-insurance-flow .claim-section.auto-ratio label.checkbox-inline.squar-boxes {
  flex-grow: 1;
}
.business-insurance-flow .wide-box.claim-section label.checkbox-inline.squar-boxes {
  width: 220px;
  height: 156px;
  margin-right: 16px;
  margin-top: 0;
}
.business-insurance-flow .wide-box.claim-section label.checkbox-inline.squar-boxes:last-child {
  margin-right: 0;
}
.business-insurance-flow .wide-box.claim-section label.checkbox-inline.squar-boxes .checkbox-label {
  padding: 16px;
}
.business-insurance-flow .wide-box.claim-section label.checkbox-inline.squar-boxes.rectangle-box {
  width: 280px;
}
.business-insurance-flow .business-card.claim-section label.checkbox-inline.squar-boxes {
  width: 135px;
  margin-right: 16px;
  margin-top: 0;
}
.business-insurance-flow .business-card.claim-section label.checkbox-inline.squar-boxes:last-child {
  margin-right: 0;
}
.business-insurance-flow .business-card.claim-section label.checkbox-inline.squar-boxes.rectangle-box {
  width: 280px;
}
.business-insurance-flow .box-500 {
  max-width: 500px;
}
.business-insurance-flow .currency-range .append {
  width: 65px;
}
.business-insurance-flow .currency-range .preppend {
  width: 70px;
}
.business-insurance-flow .js-calculator_text-input.ms-0 {
  margin-left: 0 !important;
}
.business-insurance-flow .claim-section label.checkbox-inline.box-300 {
  width: 319px;
}
.business-insurance-flow .claim-section label.checkbox-inline.box-140 {
  width: 150px;
  height: 156px;
}
.business-insurance-flow .claim-section label.checkbox-inline.box-250 {
  width: 244px;
  height: 156px;
}
.business-insurance-flow .card-box {
  border: 1px solid #e6e6e6;
  background: white;
  border-radius: 4px;
}
.business-insurance-flow .card-box .box-header {
  border-bottom: 1px solid #e6e6e6;
  padding: 16px;
}
.business-insurance-flow .card-box .box-header h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.business-insurance-flow .card-box .box-body {
  padding: 16px;
}
.business-insurance-flow .card-box .box-body label.label {
  font-size: 16px;
  font-weight: 500;
}
.business-insurance-flow .card-box .box-body label.label small {
  font-weight: 400;
  color: var(--color-title);
}
.business-insurance-flow .white-box.multichoice-box {
  max-width: 445px;
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */