@use "variable"as *;

// scss-docs-start theme-colors-map

$colors: ("primary": $primary,
    "primary-text": $primary-text,
    "blue": $blue,
    "light-blue": $light-blue,
    "secondary": $secondary,
    "title": $title,
    "paragraph": $paragraph,
    "black": $black,
    "white": $white,
    "smoke": $smoke,
    "divider": $divider,
    "drop-shadow": $drop-shadow,
    "border-light": $border-light,
    "border-light2": $border-light2,
    "box-border": $box-border,
    "btn-outline": $btn-outline,
    "disable": $disable,
    "placeholder": $placeholder,
    "checkbox": $checkbox,
    "checkbox-bg": $checkbox-bg,
    "light-gray": $light-gray,
    "light-gray3": $light-gray3,
    "light-gray4": $light-gray4,
    "has-error": $has-error,
    "blue-light": $blue-light,
    "blue-light2": $blue-light2,
    "blue-border": $blue-border,
    "sucess": $sucess,
    "dark-blue": $dark-blue,
    "blue-shade": $blue-shade,


) !default;

$colors-Shade: ("primary-100": $primary,
) !default;

$colorScheme: map-merge($colors, $colors-Shade);