$grid-columns : 12 !default;

$blue: #016BBF !default;
$sucess: #01BF42;
$primary: #016BBF !default;
$light-blue: #CEE6F9;

$primary-text: #BE2530;
$secondary: #cf9e69;
$title: #616161;
$paragraph: #4E4E4E;
$black: #000000;
$white: #ffffff;
$smoke:rgba(255, 255, 255, 0.9);
$divider: rgba(34, 34, 34, 0.2);
$drop-shadow: rgba(0, 0, 0, 0.149);
$border-light: #E6E6E6;
$border-light2: #F5F5F5;
$box-border: #DBDBDB;
$btn-outline: #9B9B9B;
$disable: #ACACAC;
$placeholder: #8F969A;
$checkbox: #929598;
$checkbox-bg: #D1362F;
$light-gray: #8A8A8A;
$light-gray3: #999999;
$light-gray4: #cccccc;
$has-error: #BF0101;
$blue-light: #E6F1F9;
$blue-light2: #F2F8FD;
$blue-light3: #67A6D9;
$blue-border: #99C4E5;
$blue-border2: #CCE1F2;
$dark-blue: #22305D;
$blue-shade: #F2F7FC !default;





$color_1: #000000;
$font-family_1: 'Roboto';
$background-color_1: #F4F3F3;