/* custom main 
 UnExpected King Tirth Shah */ 
 
 .page {
  page-break-after: always;
  position: relative;
}

.page-details.safety-ef-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.page-details.safety-ef-form input[type=date]::-webkit-inner-spin-button, .page-details.safety-ef-form input[type=date]::-webkit-calendar-picker-indicator,
.page-details.safety-ef-form input[type=year]::-webkit-inner-spin-button,
.page-details.safety-ef-form input[type=year]::-webkit-calendar-picker-indicator,
.page-details.safety-ef-form input[type=month]::-webkit-inner-spin-button,
.page-details.safety-ef-form input[type=month]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.page-details.safety-ef-form .form-img {
  width: 100%;
}
.page-details.safety-ef-form .answer {
  position: absolute;
  bottom: 0;
}
.page-details.safety-ef-form .answer img {
  width: 100%;
  position: absolute;
}
.page-details.safety-ef-form .answer input,
.page-details.safety-ef-form .answer textarea {
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  color: #141414;
  position: absolute;
  background: transparent;
  overflow: hidden;
}
.page-details.safety-ef-form .answer textarea {
  font-size: 10px;
  padding: 0 5px;
}
.page-details.safety-ef-form .answer.monospace {
  font-family: monospace;
  letter-spacing: 7px;
}
.page-details.safety-ef-form .answer .check-mark {
  position: absolute;
}
.page-details.safety-ef-form .answer .check-mark::before, .page-details.safety-ef-form .answer .check-mark::after {
  content: "";
  height: 2px;
  width: 15px;
  background: black;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.page-details.safety-ef-form .answer .check-mark::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.page-details.safety-ef-form textarea.form-control {
  border: 0;
  resize: none;
  height: 100%;
}
.page-details.safety-ef-form .insured-info {
  position: absolute;
  top: 110px;
  left: 50px;
}
.page-details.safety-ef-form .insured-info input {
  font-size: 14px;
}
.page-details.safety-ef-form .insured-info .a0 {
  left: 173px;
  width: 355px;
  top: 25px;
}
.page-details.safety-ef-form .insured-info .a1 {
  left: 210px;
  width: 359px;
  top: 55px;
}
.page-details.safety-ef-form .insured-info .a2 {
  left: 467px;
  width: 210px;
  top: 53px;
}
.page-details.safety-ef-form .insured-info .a3 {
  left: 296px;
  width: 205px;
  top: 80px;
}
.page-details.safety-ef-form .insured-info .a4 {
  left: 562px;
  width: 120px;
  top: 81px;
}
.page-details.safety-ef-form .insured-info .a5 {
  left: 110px;
  width: 560px;
  top: 109px;
}
.page-details.safety-ef-form .insured-info .a6 {
  left: 551px;
  width: 20px;
  top: 63px;
}
.page-details.safety-ef-form .insured-info .a7 {
  left: 591px;
  width: 20px;
  top: 63px;
}
.page-details.safety-ef-form .insured-info .a8 {
  left: 644px;
  width: 20px;
  top: 119px;
}
.page-details.safety-ef-form .insured-info .a9 {
  left: 424px;
  width: 120px;
  top: 239px;
}
.page-details.safety-ef-form .account-info {
  position: absolute;
  top: 233px;
  left: -48px;
}
.page-details.safety-ef-form .account-info .answer.monospace input {
  letter-spacing: 20.8px;
  font-size: 15px;
}
.page-details.safety-ef-form .account-info .a1 {
  left: 210px;
  width: 359px;
  top: 53px;
}
.page-details.safety-ef-form .account-info .a2 {
  left: 653px;
  width: 50px;
  top: 53px;
}
.page-details.safety-ef-form .account-info .a3 {
  left: 210px;
  width: 359px;
  top: 86px;
}
.page-details.safety-ef-form .account-info .a4 {
  left: 653px;
  width: 50px;
  top: 86px;
}
.page-details.safety-ef-form .account-info .a5 {
  left: 210px;
  width: 359px;
  top: 120px;
}
.page-details.safety-ef-form .account-info .a6 {
  left: 653px;
  width: 50px;
  top: 120px;
}
.page-details.safety-ef-form .account-info .a7 {
  left: 391px;
  width: 50px;
  top: 180px;
}
.page-details.safety-ef-form .signature-info {
  position: absolute;
  top: 898px;
  left: 0;
}
.page-details.safety-ef-form .signature-info .a1 {
  left: 592px;
  width: 359px;
  top: 40px;
}
.page-details.safety-ef-form .financial-info {
  position: absolute;
  top: 443px;
  left: 0;
}
.page-details.safety-ef-form .financial-info .answer.monospace input {
  letter-spacing: 20.8px;
  font-size: 15px;
}
.page-details.safety-ef-form .financial-info .a1 {
  left: 302px;
  width: 359px;
  top: 50px;
}
.page-details.safety-ef-form .financial-info .a2 {
  left: 290px;
  width: 420px;
  top: 68px;
}
.page-details.safety-ef-form .financial-info .a3 {
  left: 308px;
  width: 359px;
  top: 103px;
}
.page-details.safety-ef-form .financial-info .a4 {
  left: 308px;
  width: 430px;
  top: 133px;
}
/*# sourceMappingURL=safety-ef-form.css.map */