@use "../utils/" as *;

.properties-container {
  background: linear-gradient(0deg, #f2f7fc, #f2f7fc),
    linear-gradient(0deg, #e6e6e6, #e6e6e6);
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  }
