@use "../utils/"as *;

.add-driver-block {
    .radio-label {
        font-size: 14px;
    }
}



@media screen and (max-width: 575px) {
    .price-box {
        .radio-check-switch {
            flex-wrap: nowrap;
            gap: 10px;
            row-gap: 10px;



            .form-item {
                width: 240px;
                height: auto;
                height: auto !important;

                .radio-switch-state {
                    margin: 0;
                    padding: 1rem 1rem !important;

                    .price-ul {
                        font-size: 13px;
                        margin-top: 15px !important;
                    }

                    .btn-primary {
                        margin-top: 28px !important;
                    }
                }

            }

            .vs-box {
                display: none;
            }

            .amnt-monthly {
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width:360px) {
    .price-box .radio-check-switch .form-item {
        width: 160px;
        height: auto;
        height: auto !important;
    }
}

@media screen and (max-width:340px) {
    .price-box .radio-check-switch .form-item {
        width: 145px;
        height: auto;
        height: auto !important;
    }
}