.page {
  page-break-after: always;
  position: relative;
}

.page-details.arbella-eft {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.page-details.arbella-eft input[type=date]::-webkit-inner-spin-button, .page-details.arbella-eft input[type=date]::-webkit-calendar-picker-indicator,
.page-details.arbella-eft input[type=year]::-webkit-inner-spin-button,
.page-details.arbella-eft input[type=year]::-webkit-calendar-picker-indicator,
.page-details.arbella-eft input[type=month]::-webkit-inner-spin-button,
.page-details.arbella-eft input[type=month]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.page-details.arbella-eft .form-img {
  width: 100%;
}
.page-details.arbella-eft .answer {
  position: absolute;
  bottom: 0;
}
.page-details.arbella-eft .answer img {
  width: 100%;
  position: absolute;
}
.page-details.arbella-eft .answer input,
.page-details.arbella-eft .answer textarea {
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  color: #141414;
  position: absolute;
  background: transparent;
  overflow: hidden;
}
.page-details.arbella-eft .answer textarea {
  font-size: 10px;
  padding: 0 5px;
}
.page-details.arbella-eft .answer.monospace {
  font-family: monospace;
  letter-spacing: 7px;
}
.page-details.arbella-eft .answer .check-mark {
  position: absolute;
}
.page-details.arbella-eft .answer .check-mark::before, .page-details.arbella-eft .answer .check-mark::after {
  content: "";
  height: 2px;
  width: 15px;
  background: black;
  position: absolute;
  transform: rotate(45deg);
}
.page-details.arbella-eft .answer .check-mark::before {
  transform: rotate(-45deg);
}
.page-details.arbella-eft textarea.form-control {
  border: 0;
  resize: none;
  height: 100%;
}
.page-details.arbella-eft .insured-info {
  position: absolute;
  top: 110px;
  left: 50px;
}
.page-details.arbella-eft .insured-info input {
  font-size: 14px;
}
.page-details.arbella-eft .insured-info .a1 {
  left: 54px;
  width: 20px;
  top: 30px;
}
.page-details.arbella-eft .insured-info .a1.a1-2 {
  left: 292px;
}
.page-details.arbella-eft .insured-info .a1.a1-3 {
  left: 514px;
}
.page-details.arbella-eft .insured-info .a2 {
  left: 163px;
  width: 520px;
  top: 41px;
}
.page-details.arbella-eft .insured-info .a3 {
  left: 66px;
  width: 622px;
  top: 63px;
}
.page-details.arbella-eft .insured-info .a4 {
  left: 43px;
  width: 270px;
  top: 84px;
}
.page-details.arbella-eft .insured-info .a5 {
  left: 360px;
  width: 120px;
  top: 86px;
}
.page-details.arbella-eft .insured-info .a6 {
  left: 521px;
  width: 165px;
  top: 86px;
}
.page-details.arbella-eft .insured-info .a7 {
  left: 120px;
  width: 570px;
  top: 107px;
}
.page-details.arbella-eft .account-info {
  position: absolute;
  top: 439px;
  left: 0;
}
.page-details.arbella-eft .account-info input {
  font-size: 15px;
}
.page-details.arbella-eft .account-info .answer.monospace input {
  letter-spacing: 16.5px;
  font-size: 15px;
}
.page-details.arbella-eft .account-info .a1 {
  left: 138px;
  width: 599px;
  top: 48px;
}
.page-details.arbella-eft .account-info .a2 {
  left: 204px;
  width: 529px;
  top: 69px;
}
.page-details.arbella-eft .account-info .a3 {
  left: 269px;
  width: 20px;
  top: 105px;
}
.page-details.arbella-eft .account-info .a3.a3-2 {
  left: 366px;
}
.page-details.arbella-eft .account-info .a4 {
  left: 210px;
  width: 359px;
  top: 120px;
}
.page-details.arbella-eft .account-info .a5 {
  left: 342px;
  width: 359px;
  top: 140px;
}
.page-details.arbella-eft .account-info .a6 {
  left: 653px;
  width: 50px;
  top: 120px;
}
.page-details.arbella-eft .account-info .a7 {
  left: 391px;
  width: 50px;
  top: 180px;
}
.page-details.arbella-eft .signature-info {
  position: absolute;
  top: 790px;
  left: 0;
}
.page-details.arbella-eft .signature-info .a1 {
  left: 661px;
  width: 99px;
  top: 40px;
}
.page-details.arbella-eft .signature-info .a2 {
  left: 661px;
  width: 99px;
  top: 67px;
}
.page-details.arbella-eft .signature-info .a3 {
  left: 184px;
  width: 119px;
  top: 119px;
  transform: rotate(6deg);
}
.page-details.arbella-eft.arbella-excluison .operator-info {
  position: absolute;
  top: 305px;
  left: 110px;
}
.page-details.arbella-eft.arbella-excluison .operator-info input,
.page-details.arbella-eft.arbella-excluison .operator-info textarea {
  font-size: 14px;
}
.page-details.arbella-eft.arbella-excluison .operator-info .a1 {
  left: 67px;
  width: 422px;
  top: 6px;
}
.page-details.arbella-eft.arbella-excluison .operator-info .a2 {
  left: 66px;
  width: 502px;
  height: 72px;
  top: 44px;
}
.page-details.arbella-eft.arbella-excluison .operator-info .a2 textarea {
  line-height: 15.3px;
}
.page-details.arbella-eft.arbella-excluison .holder-info {
  position: absolute;
  top: 782px;
  left: 0;
}
.page-details.arbella-eft.arbella-excluison .holder-info input {
  font-size: 16px;
}
.page-details.arbella-eft.arbella-excluison .holder-info .a1 {
  left: 77px;
  width: 155px;
  top: -3px;
}
.page-details.arbella-eft.arbella-excluison .holder-info .a2 {
  left: 76px;
  width: 152px;
  top: 72px;
}
.page-details.arbella-eft.arbella-suplemental .page-about {
  position: absolute;
  top: 10px;
  left: 500px;
}
.page-details.arbella-eft.arbella-suplemental .page-about .a1 {
  left: 55px;
  width: 170px;
  top: 15px;
}
.page-details.arbella-eft.arbella-suplemental .page-about .a2 {
  left: 89px;
  width: 143px;
  top: 31px;
}
.page-details.arbella-eft.arbella-suplemental .page-about .a3 {
  left: 106px;
  width: 123px;
  top: 45px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info {
  position: absolute;
  top: 220px;
  left: 50px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info input {
  font-size: 12px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a1 {
  left: 97px;
  width: 20px;
  top: 24px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a1.other-true input {
  display: inline-block;
  left: 124px;
  top: -8px;
  width: 37px;
  font-size: 10px;
  text-align: right;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a2 {
  left: 96px;
  width: 20px;
  top: 45px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a2.other-true input {
  display: inline-block;
  font-size: 10px;
  text-align: right;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a2.other-true input#a2-1-other {
  left: 29px;
  top: 8px;
  width: 40px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a2.other-true input#a2-2-other {
  left: 114px;
  top: 8px;
  width: 26px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a2.other-true input#a2-3-other {
  left: 322px;
  top: 8px;
  width: 238px;
  text-align: left;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a3 {
  left: 97px;
  width: 20px;
  top: 81px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a4 {
  left: 272px;
  width: 20px;
  top: 81px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a5 {
  left: 240px;
  width: 120px;
  top: 100px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a6 {
  left: 100px;
  width: 225px;
  top: 156px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a7 {
  left: 479px;
  width: 175px;
  top: 156px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a8 {
  left: 589px;
  width: 22px;
  top: 153px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a8.a8-2 {
  left: 639px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a9 {
  left: 428px;
  width: 155px;
  top: 186px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a10 {
  left: 589px;
  width: 22px;
  top: 198px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a10.a10-2 {
  left: 639px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a11 {
  left: 595px;
  width: 22px;
  top: 243px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a11.a11-2 {
  left: 647px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a12 {
  left: 589px;
  width: 22px;
  top: 272px;
}
.page-details.arbella-eft.arbella-suplemental .insured-info .a12.a12-2 {
  left: 639px;
}
.page-details.arbella-eft.arbella-suplemental .account-info {
  position: absolute;
  top: 547px;
  left: 0;
}
.page-details.arbella-eft.arbella-suplemental .account-info input {
  font-size: 12px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .a1 {
  left: 115px;
  width: 220px;
  top: 39px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .a2 {
  left: 115px;
  width: 220px;
  top: 54px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .a3 {
  left: 115px;
  width: 220px;
  top: 69px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .a4 {
  left: 115px;
  width: 220px;
  top: 84px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .b1 {
  left: 377px;
  width: 21px;
  top: 50px;
  transform: scale(0.8);
}
.page-details.arbella-eft.arbella-suplemental .account-info .b1.b1-2 {
  left: 428px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .b1.b2 {
  top: 65px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .b1.b3 {
  top: 80px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .b1.b4 {
  top: 95px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .c1 {
  left: 563px;
  width: 21px;
  top: 50px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .c1.c1-2 {
  left: 614px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .c1.c2 {
  top: 65px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .c1.c3 {
  top: 80px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .c1.c4 {
  top: 95px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .d1 {
  left: 624px;
  width: 21px;
  top: 124px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .d1.d1-2 {
  left: 672px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .d1.d2 {
  top: 139px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .d1.d3 {
  top: 153px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .d1.d4 {
  top: 168px;
}
.page-details.arbella-eft.arbella-suplemental .account-info .d1.d5 {
  top: 183px;
}
.page-details.arbella-eft.arbella-suplemental .signature-info {
  position: absolute;
  top: 790px;
  left: 0;
}
.page-details.arbella-eft.arbella-suplemental .signature-info .a1 {
  left: 295px;
  width: 99px;
  top: -31px;
}
.page-details.arbella-eft.arbella-suplemental .signature-info .a2 {
  left: 295px;
  width: 99px;
  top: 70px;
}/*# sourceMappingURL=arbella-forms.css.map */