@use "../utils/"as *;



.back-arrow {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: fixed !important;
    color: var(--color-primary);
}

.user-info {
    .user-person {
        width: 50px;
        height: 50px;


        background: #CEE6F9;
        border-radius: 50%;
        padding: 12px 0 0 0;
    }

    .user-welcome {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;

        color: var(--color-black);

    }
}

.upload-box {
    width: 460px;
    margin: 0 auto;
    background: #F2F7FC;
    border-radius: 10px;
    padding: 20px;

    .radio-switch-state {
        padding: 10px;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08);

        &:hover {
            background: #E6F1F9;
        }

        p.ins-title {
            font-size: 14px;
            line-height: 18px;
            font-weight: 500;
        }

        p.ins-titlee {
            font-size: 14px;
            line-height: 18px;
            font-weight: 500;
        }
    }
}








.upload-btn {
    background: #FFFFFF;
    box-shadow: 0px 6px 20px #DDEEFB;
    border-radius: 4px;
    height: 44px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* Blue/Blue-10 */

    color: var(--color-primary);
}





@media only screen and (max-width: 575px) {
    .upload-box {
        width: 100%;
    }

    .progress-text {
        margin-bottom: 16px;
    }

    .back-arrow {
        position: absolute !important;
    }
}

// 30 march

.uploaded-document-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--color-blue-light);
    text-align: center;
    margin: 10px;
    height: 170px;
    border-radius: 12px;
    margin: 20px;

    .document-thumb-block {
        position: relative;
        display: inline-block;
        border: 1px solid var(--color-blue-border);
        padding: 3px;
        border-radius: 6px;
        overflow: hidden;

        .btn-remove {
            position: absolute;
            right: 4px;
            top: 4px;
        }
    }

    p.document-title {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
    }
}



@media only screen and (min-width: 1550px) {
    .upload-btn {

        height: 50px;

        font-size: 15px;

    }

    .btn-add,
    .user-info .user-welcome,
    .radio-box.button-style .radio-box-custom,
    .fs-12 {
        font-size: 14px !important;
    }

    .progress-text,
    .back-arrow,
    .content p.sub-title,
    .note,
    .checkbox-label {
        font-size: 16px !important;
    }

    .radio-label {
        font-size: 16px !important;
    }

    .fs-18 {
        font-size: 19px;
    }

    .content h3.title {
        font-size: 34px;
        line-height: 45px;
    }
}