@use "../utils/"as *;
.field-icon {
    position: absolute;
    bottom: 50%;
    transform: translate(0%, -50%);
    right:20px;
  }
  .login-box{
    border: 1px solid #E6E6E6;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.nav-link .white-icon{
  display: none;
  }
.nav-link.active .blue-icon{
display: none;
}
.nav-link.active .white-icon{
  display: block;
  }
  .search-eye{
    max-width: unset !important;
  }
  .admin-employee-table .link-label{
    padding: 0.75rem 0.9rem;
    vertical-align: middle;
    
    font-size: 0.995rem;
    color: #999999;

  }
  .admin-employee-table   .policy-table-card a ,  .admin-employee-table   .policy-table-card td{
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
  }

  .admin-employee-table  .policy-table-card td:nth-child(2), .admin-employee-table .policy-table-card td:nth-child(3) {
    display: table-cell;
}
  .table > :not(caption) > * > * {
    padding: 0.75rem 0.9rem;
    vertical-align: middle;
}
.admin-employee-table tr td:last-child a {
  margin-right: 12px;
}
.btn-red {
color:  #BF0101;

}

.btn-orange{
  color: #F68A1F;
}
.form-group .form-label {
  //styleName: Caption;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 18px;
margin-bottom: 0.3rem;
letter-spacing: 0em;
text-align: left;
color: #B3B3B3;
margin-left: 12px;

}
.edit-profile-icon{
  right: 0;
  bottom: -5px;
}
.filter-menu{
  width: 390px;
}
.filter-menu .radio-btn .radio-label {
 
  font-size: 13px !important;}
.filter-menu .checkbox-label{
  font-size: 14px !important  ;
}

.note-container .notes-side-bar .update-log.bg-gray {
  background-color: rgb(236 236 236);
  padding: 4px 8px;
  border-radius: 2px;
  margin-bottom: 4px;
color: #000;

}
.policy-cards {
  background-color: var(--color-blue-light);
  padding: 0 10px;
  border: none;
}
span.checkbox-label.fs-14.me-5.fw-500.main-label {
  min-width: 170px;
}
.radio-check-switch .radio-switch-state{
  border: 1px dashed #67A6D9;
  border-radius: 5px;
  
}

.kitchen-tab.nav-pills .nav-link{

font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;
color: #8A8A8A;


}
.kitchen-tab.nav-pills .nav-link.active{
  background-color: unset;
  //styleName: label/lg - uppercase;
font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 24px;
color:  #2B2B2B;


letter-spacing: 0em;
text-align: left;

}
.kitchen-carousel.radio-check-switch .radio-switch-state {
  margin: 0;
  background: unset;
  // border: none;
  height: auto;
  border: 1px solid #E6E6E6;
  box-shadow: none;
  background: #fff;
}
.kitchen-carousel.radio-check-switch .radio-switch-state img {
  width: 100%;
  height: 170px;
  border-radius: 4px;
  object-fit: COVER;;
}
.kitchen-carousel.radio-check-switch .owl-item.active.center .radio-switch-state img {
  width: 270px;
  height: 290px;
}
.radio-check-switch.kitchen-carousel input[type=radio]:checked + .radio-switch-state img {
  width: 270px;
  height: 290px;
}
.ceiling-carousel.radio-check-switch.kitchen-carousel input[type=radio]:checked + .radio-switch-state img ,
.ceiling-carousel.radio-check-switch .radio-switch-state img {
  width: 100%;
  height: 240px;
}
.kitchen-carousel.radio-check-switch .ins-title{
  position: unset;
  margin-top:12px;
}
.radio-check-switch.kitchen-carousel input[type=radio]:checked + .radio-switch-state{
 border: 1px solid #016BBF;
 background: #EBF5FD;
 box-shadow: inset 0px 0px 0px 1px #016BBF;
}
.radio-check-switch.kitchen-carousel input[type=radio]:checked + .radio-switch-state .icon-on:after {
  content: "";
  left: 50%;
  top: 40%;
  width: 6px;
  height: 10px;
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
}
.radio-check-switch.kitchen-carousel input[type=radio]:checked + .radio-switch-state .icon-on {
  opacity: 1;
}
.radio-check-switch.kitchen-carousel .radio-switch-state .icon-on {
  left: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  background: linear-gradient(321.01deg, rgba(103, 166, 217, 0.8) 15.51%, rgba(1, 107, 191, 0.8) 84.12%), #016BBF;
  border-radius: 4px;
  opacity: 0;
}
.kitchen-carousel.owl-carousel .owl-stage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}



html {
  font-size: 16px;
  background: #edeff0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.wrap {
  width: 500px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 #c9ced1;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

/* ------------------------------ COUNTER BEGIN ------------------------------ */
.counter__increment, .counter__decrement {
  transition: all 0.4s ease-in-out;
}
.house_area {
  border: 1px solid #E6E6E6;
  padding: 5px;
  border-radius: 4px;
}
.counter {
  position: relative;
  width: 7.7rem;
  height: 1.995rem;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
  background: #fff;
}
.counter__input {
  border: none;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  color: #2B2B2B;
  font-size: 0.975rem;
  background-color: transparent;
}
.counter__increment, .counter__decrement {
  position: absolute;
  top: 0;
  font-size: 1rem;
  line-height: 1.5625rem;
  height: 1.875rem;
  width: 2.1875rem;
  font-weight: normal;
  color: #616161;
  text-decoration: none;
  .fa {
    line-height: 30px;
    vertical-align: middle;
    &::before {
      line-height: 30px;
      display: block;
    }
  }
}
.counter__increment:hover, .counter__increment:active, .counter__increment:focus, .counter__decrement:hover, .counter__decrement:active, .counter__decrement:focus {
  color: #616161;
  text-decoration: none;
  background-color: #edeff0;
}
.counter__increment {
  right: 0;
  border-left: 1px solid #E6E6E6;

}
.counter__decrement {
  left: 0;
  top: 0;
  border-right: 1px solid #E6E6E6;
  line-height: 1.6875rem;
}
.input-label{
  font-weight: 400 !important;
}

/* ------------------------------ COUNTER END ------------------------------ */
@media only screen and (max-width: 575px) {

.fs-16 {
    font-size: 14px;
}
.admin-employee-table tr td:last-child a {
  margin-right: 0px;
}
.admin-employee-table  .policy-table-card td:nth-child(2), .admin-employee-table .policy-table-card td:nth-child(3) {
  display: block;
}
.admin-employee-table tr:first-child td:last-child {
  border-top-right-radius: 10px;
  flex: 1 0 30%;
  width: 30%;
}
}

  @media only screen and (min-width: 600px) {
    .login-box{
       
        width: 432px;
       
    }
  }
  
  .no_result_found {
    text-align: center;
    p {
      max-width: 317px;
      margin: 0 auto;
    }
  }
  .data-toggle {
    font-size: 9px !important;
    line-height: 12px;
    height: 16px;
    width: 16px;
    text-align: center;
    border: 2px solid var(--color-light-gray);
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}
.popover-body {
  padding: 6px 10px;
  color: #616161;
  background-color: #F1F8FE;
}
.bs-popover-end>.popover-arrow::after {
  border-right-color: #F1F8FE;
}