.page {
  page-break-after: always;
  position: relative;
}

.page-details.ma-operator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;

  input[type="date"],
  input[type="year"],
  input[type="month"] {
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }

  .form-img {
    width: 100%;
  }

  .answer {
    position: absolute;
    bottom: 0;
  }

  .answer img {
    width: 100%;
    position: absolute;
  }
  .answer input,
  .answer textarea {
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    color: #141414;
    position: absolute;
    background: transparent;
    overflow: hidden;
  }

  .answer textarea {
    font-size: 10px;
    padding: 0 5px;
  }

  .answer.monospace {
    font-family: monospace;
    letter-spacing: 7px;
  }
  .answer .check-mark {
    position: absolute;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 15px;
      background: black;
      position: absolute;
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
  textarea.form-control {
    border: 0;
    resize: none;
    height: 100%;
  }

  .operator-info {
    position: absolute;
    top: 272px;
    left: 140px;

    .a1 {
      left: 86px;
      width: 422px;
      top: 6px;
    }
    .a2 {
      left: 86px;
      width: 192px;
      height: 132px;
      top: 44px;

      textarea {
        line-height: 15.3px;
      }
    }
  }

  .holder-info {
    position: absolute;
    top: 602px;
    left: 50px;

    input {
      font-size: 16px;
    }

    .a1 {
      left: 86px;
      width: 155px;
      top: -7px;
    }
    .a2 {
      left: 86px;
      width: 152px;
      top: 57px;
    }
  }

  .insured-name-info {
    position: absolute;
    top: 764px;
    left: 50px;

    input {
      font-size: 16px;
    }

    .a1 {
      left: 86px;
      width: 525px;
      height: 100px;
      top: 0;
      textarea{
        font-size: 14px;
      }
    }
  }
}
