.page {
  page-break-after: always;
  position: relative;
  .form-img {
    width: 100%;
  }
}

.page-details.hanover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;

  input[type="date"],
  input[type="year"],
  input[type="month"] {
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }

  .form-img {
    width: 100%;
  }

  .answer {
    position: absolute;
    bottom: 0;
  }

  .answer img {
    width: 100%;
    position: absolute;
  }
  .answer input,
  .answer textarea {
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    color: #141414;
    position: absolute;
    background: transparent;
    overflow: hidden;
  }

  .answer textarea {
    font-size: 10px;
    padding: 0 5px;
  }

  .answer.monospace {
    font-family: monospace;
    letter-spacing: 7px;
  }
  .answer .check-mark {
    position: absolute;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 15px;
      background: black;
      position: absolute;
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
  textarea.form-control {
    border: 0;
    resize: none;
    height: 100%;
  }

  .applicant-about {
    position: absolute;
    top: 115px;
    left: 50px;
    input {
      font-size: 14px;
    }

    .a1 {
      left: 115px;
      width: 576px;
      top: 6px;
    }
    .a2 {
      left: 58px;
      width: 632px;
      top: 30px;
    }
  }

  .prior-coverage {
    position: absolute;
    top: 198px;
    left: 50px;
    input {
      font-size: 12px;
    }

    .a1 {
      left: 0;
      width: 170px;
      top: 10px;
    }
    .a2 {
      left: 440px;
      width: 20px;
      top: 10px;

      &.a2-2 {
        left: 489px;
      }
    }
    .a3 {
      left: 538px;
      width: 153px;
      top: 10px;
    }
  }

  .accidental-info {
    position: absolute;
    top: 258px;
    left: 50px;
    input {
      font-size: 12px;
    }

    .d1 {
      top: 10px;
      left: 374px;

      &.d1-2 {
        left: 434px;
      }
    }

    .r1 {
      top: 59px;
    }
    .r2 {
      top: 77px;
    }
    .r3 {
      top: 94px;
    }

    .a1 {
      left: 0;
      width: 20px;
      text-align: center;
    }
    .a2 {
      left: 30px;
      width: 125px;
    }
    .a3 {
      left: 159px;
      width: 203px;
    }
    .a4 {
      left: 370px;
      width: 131px;
    }
    .a5 {
      left: 510px;
      width: 20px;
      top: 8px;

      &.a5-2 {
        left: 541px;
      }
    }
    .a6 {
      left: 573px;
      width: 116px;
    }
  }

  .policy-info {
    position: absolute;
    top: 376px;
    left: 50px;
    input {
      font-size: 12px;
    }

    .d1 {
      top: 12px;
      left: 473px;

      &.d1-2 {
        left: 523px;
      }
    }

    .r1 {
      top: 59px;
    }
    .r2 {
      top: 77px;
    }
    .r3 {
      top: 94px;
    }

    .a1 {
      left: 0;
      width: 133px;
    }
    .a2 {
      left: 144px;
      width: 104px;
    }
    .a3 {
      left: 255px;
      width: 313px;
    }
  }

  .additional-info {
    position: absolute;
    top: 537px;
    left: 50px;
    input {
      font-size: 12px;
    }

    .a1 {
      left: 3px;
      width: 20px;
    }
    .a2 {
      left: 3px;
      width: 20px;
      top: 20px;
    }
    .a3 {
      left: 3px;
      width: 20px;
      top: 40px;
    }
    .a4 {
      left: 3px;
      width: 20px;
      top: 60px;
    }
    .a5 {
      left: 3px;
      width: 20px;
      top: 80px;
    }
    .a6 {
      left: 267px;
      width: 20px;
    }
    .a7 {
      left: 267px;
      width: 20px;
      top: 20px;
    }
    .a8 {
      left: 267px;
      width: 20px;
      top: 40px;
    }
    .a9 {
      left: 267px;
      width: 20px;
      top: 60px;
    }
    .a10 {
      left: 0;
      width: 690px;
      top: 104px;
      height: 41px;
    }
  }

  .signature-info {
    position: absolute;
    top: 838px;
    left: 220px;

    .a1 {
      left: 195px;
      width: 310px;
      top: -31px;
    }

    .a2 {
      left: 195px;
      width: 310px;
      top: 39px;
    }
    .a3 {
      left: 195px;
      width: 310px;
      top: 100px;
    }
  }
}
