.page {
  page-break-after: always;
  position: relative;
}

.form-img {
  width: 100%;
}

.page-details.safec-eft {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;

  input[type="date"],
  input[type="year"],
  input[type="month"] {

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }

  .form-img {
    width: 100%;
  }

  .answer {
    position: absolute;
    bottom: 0;
  }

  .answer img {
    width: 100%;
    position: absolute;
  }

  .answer input,
  .answer textarea {
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    color: #141414;
    position: absolute;
    background: transparent;
    overflow: hidden;
    border: 0;
  }

  .answer textarea {
    font-size: 10px;
    padding: 0 5px;
  }

  .answer.monospace {
    font-family: monospace;
    letter-spacing: 7px;
  }

  .answer .check-mark {
    position: absolute;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 15px;
      background: black;
      position: absolute;
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  textarea.form-control {
    border: 0;
    resize: none;
    height: 100%;
  }

  .holder-info {
    position: absolute;
    top: 922px;
    left: 50px;

    input {
      font-size: 16px;
    }

    .a0 {
      left: 451px;
      width: 75px;
      top: -191px;
    }

    .a1 {
      left: 56px;
      width: 335px;
      top: -4px;
    }

    .a2 {
      left: 496px;
      width: 202px;
      top: -4px;
    }

    .a3 {
      left: 496px;
      width: 202px;
      top: 44px;
    }
    .a4 {
      left: 56px;
      width: 30px;
      top: 44px;
    }
  }

  .signature-info {
    position: absolute;
    top: 732px;
    left: 50px;

    input {
      font-size: 16px;
      text-align: center;
    }

    .a0 {
      left: 411px;
      width: 35px;
      top: 4px;
    }

    .a1 {
      left: 477px;
      width: 35px;
      top: 4px;
    }

    .a2 {
      left: 537px;
      width: 35px;
      top: 4px;
    }

    .a3 {
      left: 590px;
      width: 44px;
      top: 4px;
    }

    .a4 {
      left: 86px;
      width: 122px;
      top: 28px;
      transform: rotate(2deg);
    }
  }

  .exlusion-info {
    position: absolute;
    top: 544px;
    left: 50px;

    input {
      font-size: 16px;
    }

    .a0 {
      left: 39px;
      width: 402px;
      top: -337px;
    }

    .a1 {
      left: 40px;
      width: 525px;
      height: 100px;
      top: 0;

      textarea {
        font-size: 14px;
      }
    }

    .a2 {
      left: 120px;
      width: 202px;
      top: 290px;
    }
  }
}