.page {
  page-break-after: always;
  position: relative;
}

.page-details.safec-eft {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.page-details.safec-eft input[type=date]::-webkit-inner-spin-button, .page-details.safec-eft input[type=date]::-webkit-calendar-picker-indicator,
.page-details.safec-eft input[type=year]::-webkit-inner-spin-button,
.page-details.safec-eft input[type=year]::-webkit-calendar-picker-indicator,
.page-details.safec-eft input[type=month]::-webkit-inner-spin-button,
.page-details.safec-eft input[type=month]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.page-details.safec-eft .form-img {
  width: 100%;
}
.page-details.safec-eft .answer {
  position: absolute;
  bottom: 0;
}
.page-details.safec-eft .answer img {
  width: 100%;
  position: absolute;
}
.page-details.safec-eft .answer input,
.page-details.safec-eft .answer textarea {
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  color: #141414;
  position: absolute;
  background: transparent;
  overflow: hidden;
}
.page-details.safec-eft .answer textarea {
  font-size: 10px;
  padding: 0 5px;
}
.page-details.safec-eft .answer.monospace {
  font-family: monospace;
  letter-spacing: 7px;
}
.page-details.safec-eft .answer .check-mark {
  position: absolute;
}
.page-details.safec-eft .answer .check-mark::before, .page-details.safec-eft .answer .check-mark::after {
  content: "";
  height: 2px;
  width: 15px;
  background: black;
  position: absolute;
  transform: rotate(45deg);
}
.page-details.safec-eft .answer .check-mark::before {
  transform: rotate(-45deg);
}
.page-details.safec-eft textarea.form-control {
  border: 0;
  resize: none;
  height: 100%;
}
.page-details.safec-eft .holder-info {
  position: absolute;
  top: 922px;
  left: 50px;
}
.page-details.safec-eft .holder-info input {
  font-size: 16px;
}
.page-details.safec-eft .holder-info .a0 {
  left: 451px;
  width: 75px;
  top: -191px;
}
.page-details.safec-eft .holder-info .a1 {
  left: 56px;
  width: 335px;
  top: -4px;
}
.page-details.safec-eft .holder-info .a2 {
  left: 496px;
  width: 202px;
  top: -4px;
}
.page-details.safec-eft .holder-info .a3 {
  left: 496px;
  width: 202px;
  top: 44px;
}
.page-details.safec-eft .signature-info {
  position: absolute;
  top: 732px;
  left: 50px;
}
.page-details.safec-eft .signature-info input {
  font-size: 16px;
  text-align: center;
}
.page-details.safec-eft .signature-info .a0 {
  left: 411px;
  width: 35px;
  top: 4px;
}
.page-details.safec-eft .signature-info .a1 {
  left: 477px;
  width: 35px;
  top: 4px;
}
.page-details.safec-eft .signature-info .a2 {
  left: 537px;
  width: 35px;
  top: 4px;
}
.page-details.safec-eft .signature-info .a3 {
  left: 590px;
  width: 44px;
  top: 4px;
}
.page-details.safec-eft .exlusion-info {
  position: absolute;
  top: 544px;
  left: 50px;
}
.page-details.safec-eft .exlusion-info input {
  font-size: 16px;
}
.page-details.safec-eft .exlusion-info .a0 {
  left: 39px;
  width: 402px;
  top: -337px;
}
.page-details.safec-eft .exlusion-info .a1 {
  left: 40px;
  width: 525px;
  height: 100px;
  top: 0;
}
.page-details.safec-eft .exlusion-info .a1 textarea {
  font-size: 14px;
}
.page-details.safec-eft .exlusion-info .a2 {
  left: 120px;
  width: 202px;
  top: 290px;
}/*# sourceMappingURL=safec-eft.css.map */