.page {
  page-break-after: always;
  position: relative;
}

.page-details.trevelor-eft-autopay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;

  input[type="date"],
  input[type="year"],
  input[type="month"] {

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }

  .form-img {
    width: 100%;
  }

  .answer {
    position: absolute;
    bottom: 0;
  }

  .answer img {
    width: 100%;
    position: absolute;
  }

  .answer input,
  .answer textarea {
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    color: #141414;
    position: absolute;
    background: transparent;
    overflow: hidden;
  }

  .answer textarea {
    font-size: 10px;
    padding: 0 5px;
  }

  .answer.monospace {
    font-family: monospace;
    letter-spacing: 7px;
  }

  .answer .check-mark {
    position: absolute;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 15px;
      background: black;
      position: absolute;
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  textarea.form-control {
    border: 0;
    resize: none;
    height: 100%;
  }

  .insured-info {
    position: absolute;
    top: 122px;
    left: 50px;

    .a0 {
      left: 53px;
      width: 355px;
      top: 0;
    }

    .a1 {
      left: 52px;
      width: 359px;
      height: 38px;
      top: 23px;

      textarea {
        line-height: 18px;
      }
    }

    .a2 {
      left: 526px;
      width: 165px;
      top: 3px;
    }

    .a3 {
      left: 526px;
      width: 165px;
      top: 23px;
    }

    .a4 {
      left: 526px;
      width: 165px;
      top: 43px;
    }

    .a5 {
      left: 70px;
      width: 435px;
      top: 95px;
    }

    .a6 {
      left: 551px;
      width: 20px;
      top: 63px;
    }

    .a7 {
      left: 591px;
      width: 20px;
      top: 63px;
    }

    .a8 {
      left: 644px;
      width: 20px;
      top: 119px;
    }

    .a9 {
      left: 424px;
      width: 120px;
      top: 239px;
    }
  }

  &.trevelor-eft {
    .insured-info {
      position: absolute;
      top: 112px;

      .a6 {
        left: 341px;
        width: 120px;
        top: 78px;
      }

      .a7 {
        left: 562px;
        width: 120px;
        top: 78px;
      }

      .a8 {
        left: 663px;
        width: 20px;
        top: 61px;
      }

      .a9 {
        top: 199px;
      }

      .a10 {
        left: 133px;
        width: 20px;
        top: 69px;

        &.a10-2 {
          left: 200px;
        }
      }

      .a11 {
        left: -15px;
        width: 20px;
        top: 86px;

        &.a11-2 {
          left: 69px;
        }
      }

      .a12 {
        left: -5px;
        width: 150px;
        top: 316px;
        transform: rotate(5deg);
      }
    }
  }
}