@use "../utils"as *;

aside {
    position: relative;
    max-width: 450px;
    width: 100%;
    background-color: var(--color-primary);
    padding: 40px 40px;
    overflow: auto;
    @include flex-direction($value: column);
    @include scrollbars(5px, var(--color-primary), #ececec);

    @include until-width(xxl) {
        padding: 40px 35px;
    }

    @include until-width(lg) {
        padding: 30px 20px;
    }

    @include until-width(md) {
        max-width: 100%;
        position: absolute;
        padding: 0;
        top: 57px;
        left: 0;
        right: 0;
        height: 0;
        z-index: 1;
        @include transition(height .3s ease-in-out);

        &.active {
            display: block;
            overflow: auto;
            height: calc(100% - 57px);
            opacity: 1;
            visibility: visible;
        }
    }

    .dropdown {
        width: 100%;

        button {
            background-color: var(--color-white);
            padding: 16px !important;
            width: 100%;
            text-align: left;

            &.dropdown-toggle {
                @include until-width(md) {
                    &::after {
                        right: 15px;
                    }
                }
            }
        }


    }

    .sidebar {
        width: 100%;
        height: 100%;
        @include flexbox();
        @include flex-direction($value: column);

        ul {
            flex: 1;
            margin-bottom: 30px;

            @include until-width(md) {
                padding: 0 16px;
            }

            @include until-width(sm) {
                padding: 0 10px;
            }

            li {
                @include toRem(font-size, 16);
                color: var(--color-white);
                font-weight: 500;
                opacity: 0.7;
                padding: 18px 0;
                @include flexbox();
                position: relative;

                @include respond-above(sm) {
                    @include toRem(font-size, 18);
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 12px;
                    top: 24px;
                    bottom: 0;
                    background: url(../../images/vertical-dots.svg);
                    background-repeat: repeat-y;
                    width: 3px;
                    height: 100%;
                }




                &.current {
                    opacity: 1;
                    font-weight: 600;

                    .icon {
                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                &.completed {
                    opacity: 1;
                    font-weight: 600;

                    .icon {
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 5px;
                            margin: auto;
                            display: block;
                            width: 5px;
                            height: 9px;
                            border: solid var(--color-primary);
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                        }
                    }
                }

                &:first-child {
                    @include toRem(font-size, 24);
                    @include toRem(line-height, 30);
                    color: var(--color-white);
                    opacity: 1;
                    font-weight: 500;

                    @include respond-above(sm) {
                        @include toRem(font-size, 28);
                        @include toRem(line-height, 32);
                    }

                    @include respond-above(md) {
                        @include toRem(font-size, 30);
                        @include toRem(line-height, 36);
                        padding-top: 0;
                    }

                    &::after {
                        top: 46px;
                    }


                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        .user-info {
            padding: 40px 0;
            @include flexbox();
            @include flex-direction($value: column);
            border-top: 1px solid rgba(255, 255, 255, 0.2);

            @include until-width(md) {
                padding: 40px 15px;
            }

        }
    }
}