@use "../utils"as *;

@use "../utils"as *;

.modal-dialog {
    &.modal-lg {
        max-width: 530px;
    }
}


@media (min-width: 1024px){
.modal-dialog.modal-lg-lg {
    max-width: 659px;
    margin: 1.75rem auto;
}
}